@import "_variables.scss";

.program-item {
    display: block;
    position: relative;
    padding-left: 174px;
    margin-bottom: 100px;

    @media #{$phone1000} {
        padding-left: 0;
        padding-top: 60px;
    }

    @media #{$phone} {
        padding-top: 50px;
    }

    h3 {
        font-size: 34px;
        font-weight: 600;
        letter-spacing: 0.03em;

        @media #{$phone} {
            font-size: 28px;
        }

        @media #{$small-phone} {
            font-size: 23px;
        }
    }

    &--excerpt {
        margin-bottom: 20px;
    }

    &--time {
        display: inline-block;
        background-color: $main-blue;
        color: white;
        width: 140px;
        height: 55px;
        padding: 10px 5px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;

        @media #{$phone} {
            height: 50px;
        }

        @media #{$small-phone} {
            height: 43px;
        }
    }

    &--title {
        display: inline-block;
        padding: 10px 0;
        margin-right: 10px;
        color: $main-blue;
        vertical-align: top;
    }

    &--links {
        @extend .nice-link;
        margin-left: -20px;

        @media #{$phone} {
            margin-left: -15px;
        }

        @media #{$small-phone} {
            margin-left: -10px;
        }

        li {
            font-size: 25px;
            display: inline-block;
            padding: 5px 20px;
            position: relative;

            @media #{$phone} {
                font-size: 22px;
                padding: 5px 15px;
            }

            @media #{$small-phone} {
                font-size: 20px;
                padding: 5px 10px;
            }

            a {
                color: inherit;
                text-decoration: none;
                transition: 0.2s;
                margin-bottom: 2px;
                border-bottom: 1px solid;
                line-height: 0.9;
                border-color: inherit;
                display: inline-block;
                padding-bottom: 1px;

                &:hover {
                    border-color: transparent;
                }
            }

            &:not(:last-child)::after {
                content: "/";
                position: absolute;
                right: -9px;

                @media #{$phone} {
                    right: -5px;
                }
            }
        }
    }

    &--host {
        display: inline-block;
        color: $lighter-blue;
        position: relative;
        padding: 0 0 10px 30px;
        line-height: 1.34;

        &::before {
            content: "|";
            position: absolute;
            left: 0;
        }
    }
}
